
<div id="img" [ngStyle]="{backgroundImage:'url(./assets/photo/theoffice1.jpg)'}">
<app-menu></app-menu>
<div id="text" class="border border-light">
<h3> Weclome to Dunder Mifflin's Purchase Request System!</h3>
<br>
<p>With PRS, employees can request items for themselves or their departments for work purposes.</p>
    
   <P>Use the menu at the top of the page to navigate around the site.</P> 

    <p>If you need guidance on where to start, try searching through requests <a routerLink="/request/list">here</a> to see if you've already created what you're looking for.
    If you are looking to update or change a request, find your request on the list and follow the buttons and link to make the changes you'd like to make.</p>

   <p>If you need to make a new request, click <a routerLink="/request/create">here</a>.</p>

   <p>If you're correctly logged in, your username will appear at the top right of the screen. If you need to approve or reject a request, you will not be able to view your own submissions.</p>

   <p>For more information, visit the <a routerLink="/help">help</a> or <a routerLink="/about">about</a> pages.</p>

   <p id="pc">Photo via NBCUniversal</p>
    </div>
    <br>
    <br>
    <br>
    </div>

 
