#about {
margin-left: 500px;

}

col {
    display: inline-block;

}

cont {
    width: 100%;
}



img {
    width: 600px;
    max-height: 100%;
    float: left;
    margin-right: 100px;
    margin-left: 15px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: rgb(90, 90, 253)
}

#pc {
    font-size: x-small;
}