<app-menu></app-menu>
<div id="cont" class="container">
    
    <div id="img" class="col">
        <img alt="Elyse Roth" src="./assets/photo/DSC01025.JPEG">
    </div>
    
    <div id="about" class="col">
        <br>
        <br>
        <h3>So what is this thing all about?</h3>
        <br>
        Like the sitcom The Office, which the users on this site are based on, PRS is a fictional
        system to simulate logging in, requesting, and reviewing items fictional characters would like 
        their fictional company to purchase for them.
        <br>
        <br>
        This purchase request system, built by Elyse Roth (pictured), is one of many that exists online because it's a capstone project designed by <a href="https://maxtrain.com/" target="blank">Max Technical Training</a>, a
        full-stack software development bootcamp based in Cincinnati, Ohio.
        <br>
        <br>
        Elyse is a former journalist who graduated from Northwestern University with a degree in journalism.
        After nearly 10 years of living and working in New York City at fashion, lifestyle, and entertainment magazines,
        she has returned to Cincinnati, where she was born and raised, to begin a career as a full-stack software developer.
        <br>
        <br>
        That's how she ended up at Max, where she learned the technologies she used to build this site. In the 13-week bootcamp,
        she learned to work in SQL, C#, Entity Framework Core, Java, HTML, CSS, JavaScript, Angular (which uses TypeScript), and much more.
        To find out more about Elyse, you can find her on <a href="https://www.linkedin.com/in/elyseroth" target="blank">LinkedIn</a> and <a href="https://github.com/elysemr" target="blank">GitHub</a>.
        <br>
        <br>
        When she's not learning something new in software development, Elyse enjoys bouldering (indoors), seeing theater and ballet, 
        spending time with friends and family, hanging out with dogs, and she doesn't like to miss a day of New York Times games.
        <br>
        <br>
        Thanks for visiting!
        <br>
        <br>
        <p id="pc">Photo by <a href="http://www.cfwatkins.com/" target="blank">CF Watkins</a>.</p>
    </div>
    
    
</div>