nav { background-color: #454545;
        display: inline-block;
        width: 100%;
    }

    nav {
    }

ul{
    margin: 0; 
    padding: 0;
}

#name {
    text-align: right;
    color: #454545;
    margin-right: 5px;
    
}

