nav, #name { background-color: #454545;
        display: inline-block;
    }

    nav {
        width: 87%;
    }

ul{
    margin: 0; 
    padding: 0;
}

#name {
    text-align: right;
    color: silver;
    margin-right: 1px;
}

